html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: black;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: width 0.5s;
}

.reduce-width {
    width: 80% !important;
}

#estimates-container {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.5s;
}

#estimates-container.show {
    width: 20%;
}

.estimates-card {
    width: 100%;
    height: 30%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.35s;
}

.estimates-card:hover {
    background-color: #eee;
}

#btn-book-ride {
    width: 90%;
    height: 7%;
    position: absolute;
    right: 5%;
    bottom: 1.5%;
    text-align: center;
}

.car-type-icon {
    display: block;
    height: 38%;
    width: auto;
    text-align: center;
    margin: 4% auto;
    /*left: 0;*/
    /*right: 0;*/
}

.car-type-text {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.77em;
}

.mapboxgl-ctrl-top-left--override-center {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.mapbox-directions-component-keyline {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.mapbox-form-label {
    width: 9px !important;
    box-shadow: none !important;
}

.mapbox-directions-origin .mapbox-form-label {
    background-color: #3f51b5 !important;
    z-index: unset !important;
}

.mapbox-directions-origin input[type='text'] {
    box-shadow: none !important;
}

.mapbox-directions-destination .mapbox-form-label {
    background-color: #f50057 !important;
}

.directions-icon-arrive, .directions-icon-depart {
    display: none !important;
    background-image: none !important;
}

.mapboxgl-ctrl-geocoder {
    margin-left: 8px !important;
}

.directions-icon-reverse {
    width: 20px !important;
    left: 12px !important;
}

.mapboxgl-ctrl-geocoder {
    border-radius: 0 !important;
    min-width: calc(100% - 8px) !important;
    max-width: calc(100% - 8px) !important;
    z-index: unset !important;
}
